.trianglebottomleft {
	width: 0;
	height: 0;
	border-bottom: 250px solid #f4d1ae;
	border-right: 250px solid transparent;
    position: fixed;
    left: 0;
    bottom: 0;
}

 
.triangletopright {
	width: 0;
	height: 0;
	border-top: 250px solid #f4d1ae;
	border-left: 250px solid transparent;
    position: fixed;
    right: 0;
    top:0
}

.imgcircle
{
    border-radius: 50%;
    // width: 75%;
    height: auto;
    border: 3px solid #44cdd1;
    text-align: center;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
	grid-row: 1;
    grid-column: 1;
}

.circle
{
    grid-column: 2;
}

.title
{
    grid-column: 3/8;
    text-align: center;
}

.imgcircle img{
    width: 100%;
    height: auto;
}

.setting
{
    position: fixed;
    right: 0;
    margin: 10px 10px 0 0;
}

.setting a
{
    text-decoration: none;
    text-transform: uppercase;

}

.headerStyle
{
	display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 2%;
}

.centerImage img
{
    width: 70%;
    height: auto;
}

.centerImage
{
    text-align: center;
    margin-top: 20px;
}

.foraigner img
{
    width: 40%;
}