.crosswords-tile {
    // height: 56px;
    // width: 56px;
    min-height: 50px;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 2px;
    background-color: var(--isabelline);
    position: relative;

    >div.bg {
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        background: var(--isabelline);
        border: 1.5px solid var(--border);
        border-radius: 3px;
        position: absolute;
        z-index: 0;
    }

    >div.content {
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 700;
        font-size: 17.25px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;

        span.indice {
            font-weight: 800;
            font-size: 10px;
            line-height: 14px;
            position: absolute;
            text-align: left;
            top: 0px;
            left: 2.5px;
            right: 2.5px;
        }
    }

    &.blocked {
        div.content {
            display: none;
        }

        div.bg {
            border: none;
            background-color: var(--maximum-blue-green);
        }
    }

    &.header {
        >div {
            opacity: .3;
        }
    }
    &.highlighted {
        div.bg {
            border-color: var(--maximum-blue-green);
        }
    }
}