main.crosswords {
    padding: 80px;
    height: 100vh;
    width: 100vw;
    background-color: var(--isabelline);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: calc(var(--column) + var(--col-gutter));
    > div.crosswords-grid{
        display: grid;
        aspect-ratio: 1;
        height: 100%;
    }
    >div.crosswords-details {
        max-width: calc(4 * var(--column) + 3 * var(--col-gutter)) ;
        h1 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 56px;
        }
        ol {
            margin-bottom: 40px;
        }
    }
}