.flashcardPage
{

}

.bandeau
{
    display: flex;
    justify-content: space-between;
}


.triangleD {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 920px;
    border-color: transparent transparent #f4d1ae transparent;
    transform: rotate(45deg);
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 40%;
    margin-bottom: 50%;
    z-index: -100;
  }


  
.triangleG {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 920px;
    border-color: transparent transparent #f4d1ae transparent;
    transform: rotate(-135deg);
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 40%;
    margin-top: 50%;
    z-index: -100;
  }

  .logoTop
  {
    margin-left: 5%;
    margin-top: 5%;
  }

  .title
  {
    text-align: center;
  }

  .title p
  {
    color: #12263A;
    font-weight: bold;
    font-size: 25px;
  }

  .hautDroite
  {
    z-index: 100;
    width: 100px;
    height: 50px;
    margin: 2% 2% 0 0;
  }

  .titleContain
  {
    text-align: -webkit-right;
  }

  .texte
  {
    width: 45%;
    margin-left: 5%;
  }

  .texte1
  {
    margin-top: 6%;
    font-size: large;
  }

  .buttonCustom
  {
    background-color: #12263a;
    color: white;
    border-radius: 30px;
    padding: 5px;
    height: 44px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    width: 65px;
  }

  .buttonInt
  {
    width: 50px;
    height: 50px;
    margin-right: 5%;
    margin-top: 7%;
  }

  .imgGame
  {
    width: 35%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .buttonChoose
  {
    text-align: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .buttonChoose div
  {
    width: 45%;
    background-color: #06BCC1;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 6px;
    margin: 7px 0px;
    border: none;
    box-shadow: 0px 0px 2px black;
    margin: 5px;
    cursor: pointer;
    height: 30vh;
  }

  .imgRef
  {
    width: 200px;
    transform: inherit !important;
    width: 225px;
  }

.validate
{
    text-align: center
}

  .validate button
  {
    width: 65%;
    background-color: #12263A;
    padding: 3%;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 15px;
    margin: 7px 0px;
    max-width: 450px;

  }

.game
{
  display: flex;
  flex-direction: column;
}

.divImg
{
  position: absolute;
}

.divButton
{
  width: 100%;
}

.exemple
{
  margin-top: 5%;
}

.hautDroite div:first-child
{
  display: flex;
}

.hautDroite div p
{
  margin: 5px;
}


.Response ,  .CheckReponse
{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20%;
}

.ResponseTexte
{
  margin-top: 5%;
  font-weight: bold;
  text-align: center;
}

.DivImage
{
  width: 100%;
  height: 200px;
  position: absolute;
  text-align: center;
  margin-top: 18%;
}