div.all-mighty-button {
    position: relative;
    // height: 80px;
    height: 64px;
    width: 100%;
    background-color: var(--prussian-blue);
    // background-color: green;
    // border-radius: 28px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    > * {
        opacity: .6;
        transition-duration: .4s;
    }
    div.block {
        // width: 56px;
        width: 44px;
        aspect-ratio: 1;
        border: 2px solid white;
        position: absolute;
        // top: 12px;
        // left: 12px;
        top: 10px;
        left: 10px;
        // border-radius: 20px;
        border-radius: 14px;
        background-color: var(--prussian-blue);
        z-index: 1;
    }
    svg.icone {
        // width: 24px;
        // height: 24px;
        width: 20px;
        height: 20px;
        // aspect-ratio: 1;
        position:absolute;
        // right: 28px;
        // top: 28px;
        right: 22px;
        top: 22px;
        z-index: 2;
    }
    input {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 3;
        border: none;
        outline:none;
        background: none;
        padding: none;
        text-align: center;
        color: white;
    }
    &.active {
        > * {
            opacity: 1;
        }
        div.block{
            // left: calc(100% - 56px - 12px);
            left: calc(100% - 44px - 10px);
            background-color: white;
        }
    }
}