body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --isabelline: #f4edea;
  --prussian-blue: #12263a;
  --maximum-blue-green: #06bcc1;
  --black: #000000;
  --white: #ffffff;
  --border: #C9C7C6;
  --nunito-sans: "Nunito Sans", sans-serif;
  --margin: 120px;
  --col-gutter: 20px;
  --column: calc((100vw - var(--margin) * 2 - 11 * var(--col-gutter)) / 12);
  --row-gutter: 20px;
  --row: 120px;
}

* {
  font-family: var(--nunito-sans);
  color: var(--prussian-blue);
  box-sizing: border-box;
}

html,
.noscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
.noscrollbar::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 1630px) {
  :root {
    --margin: 120px;
  }
}

@media screen and (max-width: 1380px) {
  :root {
    --margin: 80px;
  }
}

@media screen and (max-width: 1080px) {
  :root {
    --margin: 40px;
  }
}

@media screen and (max-width: 920px) {
  :root {
    --margin: 24px;
  }
}

.grand-title {
  font-family: var(--nunito-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px
}

.section-title {
  font-family: var(--nunito-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.section-head {
  font-family: var(--nunito-sans);
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.small-title {
  font-family: var(--nunito-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.paragraph {
  font-family: var(--nunito-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}